<h1 class="title">A great community</h1>

<div class="main">

<div class="content"><ul>
	<li>The HubShark GNU/Linux community is one of the newest on the Internet. Our users provide most of our ideas, artwork and sometimes even source code.</li>
	<li>HubShark GNU/Linux users are happy to share their passion and enthusiasm and are eager to help. Don't hesitate to ask questions on the forums or to get involved in the community.</li>
	<li>Send us your feedback and tell us about your experience. We'll listen to your ideas and use them to further improve HubShark GNU/Linux.</li>
</ul>
</div>

</div>

<img class="icon" src="/usr/share/live-installer/slideshow/icons/people.png" alt="" />
