<h1 class="title">Out of the box</h1>

<div class="main">

<div class="content"><ul>
	<li>Firefox, Thunderbird and LibreOffice come pre-installed in HubShark GNU/Linux, so you can get started immediately with the desktop and the Internet.</li>
	<li>Other popular applications such as Skype, Picasa, Google Earth, Opera can be installed with a click of the mouse.</li>
	<li>HubShark GNU/Linux is compatible with most popular file formats: zip, doc, xls, pdf, rar, mp3, wmv, mpg, mp4, mov ...etc</li>
</ul></div>

</div>

<img class="icon" src="/usr/share/live-installer/slideshow/icons/desktop.png" alt="" />
