<h1 class="title">Standing on the shoulders of Giants</h1>

<div class="main">

<div class="content"><ul>
	<li>HubShark GNU/Linux is based on and should be compatible with Devuan.</li>
	<li>Our innovations and the huge pool of packages available in Devuan make HubShark GNU/Linux one of the most attractive desktop operating systems available to home users, as well as in the office.</li>
	<li>At home or in the office, HubShark GNU/Linux is a widely used operating system - not far behind Microsoft Windows, Apple Mac OS and Ubuntu.</li>
</ul></div>

</div>
