<h1 class="title">Safe updates</h1>

<div class="main">

<div class="content"><ul>

        <li>HubShark GNU/Linux rolls from one Update Pack to another, delivering safe and up to date packages without the need to reinstall the system.</li>
        <li>The HubShark GNU/Linux Update Manager lets you know when updates are available. You don't have to apply updates if you don't want to. The Update Manager won't pop up or annoy you in any way.</li>
</ul></div>

</div>

<img class="icon" src="/usr/share/live-installer/slideshow/icons/lock.png" alt="" />
