<h1 class="title">Welcome to HubShark GNU/Linux</h1>

<div class="main">
<div class="content">

	<p>This edition is based on Devuan 1.0 (codenamed Jessie). It aims to be as similar as possible to the main edition while taking advantage of the robustness and efficiency of Devuan GNU/Linux.</p>

    <p>We hope you'll enjoy your new operating system. Thank you for choosing HubShark GNU/Linux.</p>

</div>
</div>
